{
  "root": true,
  "extends": "@react-native-community",
  "rules": {
    "prettier/prettier": 0,
    "no-unused-vars": 0,
    "@typescript-eslint/no-unused-vars": 2,
    "react-native/no-unused-styles": 2,
    "react-native/no-single-element-style-arrays": 2
  }
}
